.features_container {
	background-color: #ffffff;
	padding-top: 45px;
}

.features_title {
	text-align: center;
	margin: 0 auto;
}

.timefinder_section {
	padding-bottom: 90px;
}

.timefinder {
	margin: 0 auto;
	text-align: center;
}

@media only screen and (min-width: 841px) {
	.features_container {
		padding-top: 75px;
	}

	.meetings_page_section {
		padding-bottom: 0 !important;
	}
}
