.features_container {
	background-color: #ffffff;
	padding-top: 45px;
}

.features_title {
	text-align: center;
	margin: 0 auto;
}

.time_finder_section {
	padding-top: 60px;
	padding-bottom: 60px;
}

.time_finder_section_title {
	margin-bottom: 30px;
}

.time_finder_container {
	display: block;
	max-width: 650px;
	text-align: center;
	margin: 0 auto;

	& > *:last-child {
		margin-bottom: 0;
	}
}

.time_finder {
	margin-bottom: 30px;
}

@media only screen and (min-width: 841px) {
	.features_container {
		padding-top: 75px;
	}
}
