@import '../../css/_variables';

.features_container {
	padding-top: 45px;
}

.features_title {
	text-align: center;
	margin: 0 auto;
}

.register_section,
.register_section_title {
  position: relative;
}

.register_section {
	padding-bottom: 60px;
}

.register_section_title {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.register_section_form {
  margin-left: auto;
	margin-right: auto;
	z-index: 1;
}

@media only screen and (min-width: 841px) {
	.register_section {
		padding-top: 130px;
		padding-bottom: 145px;
	}
}
