@import '../../css/_variables';

.features_section {
  padding-bottom: 90px;
}

.container {
  align-items: flex-start;
}

.icon {
  margin-bottom: 20px;
  height: 100px;
  width: 100px;
}

.feature {
  flex: 1;
  margin-bottom: 45px;
}

.feature:last-child,
.feature > p:last-child {
  margin-bottom: 0;
}

@media only screen and (min-width: 841px) {
  .feature {
    margin-bottom: 0;
    padding: 0 15px;
  }

  .feature:first-child {
    padding-left: 0;
  }

  .feature:last-child {
    padding-right: 0;
  }

  .icon {
    height: 122px;
    width: 122px;
  }
}