@import '../../css/_variables';

.button {
  font-size: 0.875rem;
  font-weight: 600;
  text-transform: uppercase;
  background-color: $blue;
  border: 1px solid $blue;
}

.button:hover {
  background-color: #2c6cd5;
  color: #ffffff;
}

.button.skeleton {
  background-color: transparent;
  color: $blue;
  border: 1px solid $blue;
  border-radius: 3px;
  padding: 5px 15px;
}

.button.skeleton:hover {
  background-color: $blue;
  color: #ffffff;
}
