@import '../../css/_variables';

.plan {
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 5px;
  background: #e6eff7;
  padding: 30px 15px 45px;
  max-width: 325px;
  margin: 0 auto 45px;
}

.plan_title,
.plan_price,
.plan_note,
.button,
.button_note {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.plan_title {
  font-weight: 300;
  text-transform: uppercase;
  color: $blue-grey;
  margin-bottom: 15px;
}

.plan_price {
  font-size: 2.75rem;
  line-height: 3rem;
  text-transform: uppercase;
  margin-bottom: 0;
}

.plan_note {
  font-weight: 500;
}

.content {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.button_note {
  position: absolute;
  bottom: 15px;
  left: 0;
  right: 0;
  margin: 0;
  font-size: 0.875rem;
  line-height: 1rem;
  color: $light-grey;
}

@media only screen and (min-width: 841px) {
  .plan_title {
    margin-bottom: 15px;
  }
}
