@import '../../css/_variables';

.plan {
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 5px;
  background: #e6eff7;
  padding: 30px 15px 45px;
  max-width: 365px;
  margin: 0 auto 45px;
}

.plan_title,
.plan_price,
.button,
.button_note {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.plan_title {
  font-weight: 300;
  text-transform: uppercase;
  color: $blue-grey; 
}

.plan_price {
  text-transform: uppercase;
  margin-bottom: 0;
}

.content {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.button_note {
  position: absolute;
  bottom: 15px;
  left: 0;
  right: 0;
  margin: 0;
  font-size: 0.875rem;
  line-height: 1rem;
  color: $light-grey;
}

@media only screen and (min-width: 601px) {
  .plan {
    padding-left: 30px;
    padding-right: 30px;
    max-width: 400px;
  }
}

@media only screen and (min-width: 841px) {
  .plan {
    margin: 0 30px !important;
  }
}
