@import '../../css/_variables';

.title_section {
  text-align: center;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.title_section.no_padding_bottom {
  padding-bottom: 0px;
}

.content {
  margin: 0 auto;
  max-width: 650px;
}

.content > *:last-child {
  margin-bottom: 0;
}
