@import '../../css/_variables';

.title_section {
  text-align: center;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 650px;
}

.title_section.low_padding_bottom {
  padding-bottom: 60px;
}

.title_section > p:last-child {
  margin-bottom: 0;
}

@media only screen and (min-width: 841px) {
  .title_section.low_padding_bottom {
    padding-bottom: 90px;
  }
}
