@import '../../css/_variables';

.hero {
  position: relative;
  background-color: $light-blue-grey;
  padding: 45px 0 60px;
}

.hero_wave {
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
}

.block {
  margin-bottom: 45px;
}

.illustration {
  display: block;
  max-width: 100%;
  margin: 0 auto -60px;
}

@media only screen and (min-width: 841px) {
  .block {
    flex: 2;
    padding-right: 15px;
  }

  .illustration_container {
    flex: 3;
    padding-left: 15px;
  }

  .illustration {
    margin: 0 auto;
  }
}