@import '../../css/_variables';

.hero {
  position: relative;
  padding: 25px 0 30px;
}

.block {
  margin-bottom: 45px;
}

.register_form {
  margin-left: auto;
  margin-right: auto;
}

.illustration {
  display: block;
  max-width: 100%;
}

@media only screen and (min-width: 841px) {
  .hero {
    padding-top: 65px;
    padding-bottom: 65px;
  }

  .block {
    flex: 1;
    padding-right: 30px;
    margin-bottom: 0;
  }

  .register_form {
    margin-left: 0;
    margin-right: 0;
  }

  .title {
    margin-bottom: 16px;
  }

  .paragraph {
    margin-bottom: 40px;
    padding-right: 30px;
  }

  .illustration_container {
    flex: 1;
    padding-left: 30px;
  }

  .illustration {
    margin: 0 auto;
  }
}
