@import '../../css/_variables';

.hero {
  position: relative;
  background-color: $railGrey;
  padding: 25px 0 90px;
}

.block {
  margin-bottom: 45px;
}

.register_form {
  margin-left: auto;
  margin-right: auto;
}

.illustration {
  display: block;
  max-width: 80%;
  margin: 0 auto;
}

@media only screen and (min-width: 841px) {
  .hero {
    padding-top: 75px;
    padding-bottom: 125px;
  }

  .block {
    flex: 2;
    padding-right: 15px;
    margin-bottom: 0;
  }

  .register_form {
    margin-left: 0;
    margin-right: 0;
  }

  .title {
    margin-bottom: 16px;
  }

  .paragraph {
    margin-bottom: 40px;
    color: $coolGrey;
  }

  .illustration_container {
    flex: 3;
    padding-left: 15px;
  }

  .illustration {
    margin: 0 auto;
  }
}
