@import '../../css/_variables';

.header {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  right: 0;
  height: 65px;
  background-color: $light-blue-grey;
}

.container {
  padding: 15px;
  display: flex;
  justify-content: space-between !important;
}

.logo {
  height: 35px;
}

.brand {
  display: flex;
  align-items: center;
}

.name {
  line-height: 1em;
  margin: 0;
  padding: 0 10px;
  font-size: 1.125rem;
  position: relative;
}

.nav_container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.link_pricing,
.link_sign_in {
  display: none;
}

.button {
  padding: 5px 10px !important;
  font-size: 0.875rem;
}

@media only screen and (min-width: 601px) {
  .header {
    height: 85px;
  }

  .container {
    padding: 25px 15px;
  }

  .logo {
    height: 35px;
  }

  .link_pricing,
  .link_sign_in {
    display: initial;
    color: $blue-grey;
    margin-right: 20px;
    padding: 10px;
    text-decoration: none;
  }

  .button {
    padding: 8px 15px !important;
  }
}
