@import '../../css/_variables';

.hero {
  background-color: $light-grey;
  padding: 30px 0;
}

.container {
  padding: 0 15px;
}

.illustration_container {
  margin-bottom: 45px;
}

.illustration {
  display: block;
  max-width: 100%;
  margin: 0 auto; 
}

.feature {
  margin-bottom: 45px;
}

@media only screen and (min-width: 841px) {
  .container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    max-width: 1200px;
    margin: 0 auto;
  }

  .block {
    flex: 2;
    padding-right: 15px;
  }

  .illustration_container {
    flex: 3;
    padding-left: 15px;
  }
}