@import '../../css/_variables';

.partners_section {
  position: relative;
}

.title {
  padding-bottom: 30px;
}

.partner_logo {
  height: 24px;
  margin: 10px 10px;
  opacity: .7;
}

.partners_logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

@media only screen and (min-width: 841px) {
  .partners_logo {
    flex-wrap: nowrap;
    justify-content: space-around;
  }
  
  .partner_logo {
    height: 38px;
    margin: 0 30px;
  }
}
