$blue: #3480fe;
$green: #00b894;
$red: #fd3939;

$dark-grey: #4A4A4A;
$blue-grey: #697a88;
$light-blue-grey: #f2f6fa;
$light-grey: #a3a5a5;

$illustration-shadow: 3px 7px 35px rgba(10, 20, 37, 0.1);

// New meant colors
$lavender: #7289da;
$lavenderHover: #677bc4;
$darkSeafoamGreen: #43b581;
$reddishOrange: #f26521;
$paleRed: #e34646;
$stoneGrey: #2b2c30;
$railGrey: #1f2224;
$darkGrey: #272b2f;
$earlGrey: #2e3135;
$carbonGrey: #35393e;
$smokeGrey: #42464d;
$christianGrey: #484c50;
$charcoalGrey: #505253;
$blueGrey: #88919d;
$spaceGrey: #6c7076;
$battleshipGrey: #7a7d81;
$pigeonGrey: #71767d;
$coolGrey: #a7a8aa;
$almostWhite: #f4f4f4;
$white: #ffffff;