@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
@import 'basscss-type-scale';
@import 'basscss-typography';

@import './_variables';

html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	background: #ffffff;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	color: $dark-grey;
	font-size: 16px;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto;
}

* {
	box-sizing: border-box;
}

#app {
	height: 100%;
}
