@import '../../css/_variables';

.footer {
  background-color: $light-blue-grey;
  padding-bottom: 30px;
}

.container {
  border-top: 1px solid #c5d4e0;
}

.section {
  text-align: center;
  display: block;
  width: 100%;
}

.copyright {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 30px 0;
  color: $blue-grey;
}

.logo {
  width: 40px;
  margin-right: 8px;
}

.link {
  padding: 10px;
  margin: 0px 10px;
  text-decoration: none;
  color: $blue-grey;
  display: inline-block;
}

.link_thefamily {
  text-decoration: none;
  color: $blue-grey;
  display: inline-block;
}

@media only screen and (min-width: 841px) {
  .footer {
    font-size: 0.875rem;
    padding-bottom: 0;
  }

  .section {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .copyright {
    order: 2;
    padding: 30px 0;
  }

  .copyright_text {
    margin: 10px 0;
  }

  .links_1 {
    order: 1;
    text-align: left;
    justify-content: flex-start;
  }

  .links_2 {
    order: 3;
    text-align: right;
    justify-content: flex-end;
  }
}
