@import '../../css/_variables';

.plan {
  flex: 1;
  height: 380px;
}

.features_list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.list_item {
  line-height: 1.5rem;
}

.list_item_note {
  color: $light-grey;
}

.coming_soon {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 24px;
}

@media only screen and (min-width: 601px) {
  .plan {
    height: 410px;
  }
}
