@import '../../css/_variables';

@-webkit-keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
@-moz-keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
@-o-keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@-webkit-keyframes wave {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  70% { opacity: 1; }
  100% {
    opacity: 0;
    transform: scale(3);
  }
}
@-moz-keyframes wave {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  70% { opacity: 1; }
  100% {
    opacity: 0;
    transform: scale(3);
  }
}
@-o-keyframes wave {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  70% { opacity: 1; }
  100% {
    opacity: 0;
    transform: scale(3);
  }
}
@keyframes wave {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  70% { opacity: 1; }
  100% {
    opacity: 0;
    transform: scale(3);
  }
}

.time_finder {
  opacity: 0;
  transition: opacity 1000ms ease;
}

.time_finder.visible {
  opacity: 1;
}

.time_finder > * {
  user-select: none;
}

.label {
  display: block;
  color: #b7b7b7;
  margin-bottom: 8px;
}

.left,
.right {
  display: flex;
  align-items: center;
  border: 1px solid #e7e7e7;
  border-radius: 4px;
  padding: 12px;
  line-height: 1.25rem;
}

.left_container {
  margin-bottom: 25px;
}

.left.warning {
  color: $red;
}

.left.success {
  color: $green;
}

.icon {
  flex-shrink: 0;
  width: 16px;
  height: 16px;
}

.text {
  text-align: left;
  margin: 0 0 0 9px;
}

.underlined {
  text-decoration: underline;
}

.right {
  justify-content: space-around;
}

.loader_container {
  display: flex;
  align-items: center;
}

.loader {
  font-size: 1.125rem;
  position: relative;
  border-top: 0.11em solid rgba(#000000, 0.1);
  border-right: 0.11em solid rgba(#000000, 0.1);
  border-bottom: 0.11em solid rgba(#000000, 0.1);
  border-left: 0.11em solid #000000;
  transform: translateZ(0);
  animation: spin 500ms infinite linear;
}

.loader,
.loader:after {
  width: 1em;
  height: 1em;
  border-radius: 50%;
}

.loader_text {
  margin-left: 9px;
}

.time {
  position: relative;
  color: $blue;
  
  &.clickable:after,
  &.clickable:before {
    content: ' ';
    position: absolute;
    opacity: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(235, 149, 50, 0.2);
    border: 1px solid rgba(235, 149, 50, 0.3);
  }

  &.clicked:after,
  &.clicked:before {
    animation: wave 500ms ease;
  }
}

@media only screen and (min-width: 601px) {
  .time_finder {
    font-size: 0.875rem;
    display: flex;
  }

  .left_container {
    flex: 2;
  }

  .right_container {
    flex: 1;
    margin-left: 15px;
  }

  .label {
    text-align: left;
  }

  .left,
  .right {
    height: 46px;
  }
}
