@import '../../css/_variables';

.container {
  width: 100%;
  max-width: 400px;
  margin-bottom: 75px;
}

.row {
  display: flex;
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }
}

.input {
  display: block;
  flex: 2;
  color: $dark-grey;
  outline: 0;
  border-radius: 3px;
  margin-right: 10px;
  width: 100%;
  border: 1px solid #e7e7e7;
  padding: 10px;
  font-size: 1.125rem;
  line-height: 1.375rem;
  -webkit-appearance: none;

  &::placeholder {
    color: #b4b4b4;
  }

  &:focus {
    border-color: $blue;
    box-shadow: 0 0 0 3px rgba(0, 126, 255, 0.1);
  }

  &.has_error {
    border-color: $red;
    box-shadow: 0 0 0 3px rgba(253, 57, 57, 0.1);
    background-color: rgba(253, 57, 57, 0.1);
  }
}

.button {
  flex: 1;
  padding: 15px 10px;
}

.button_google {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 11px;
  padding-bottom: 11px;
  background-color: #ffffff;
  color: $dark-grey !important;
  border-color: #ffffff !important;

  &:hover {
    background-color: #f9f9f9;

  }
}

.button_google_content {
  display: flex;
  align-items: center;
}

.button_google_logo {
  height: 25px;
  width: auto;
  margin-right: 10px;
}
