@import '../../css/_variables';

.container {
  width: 100%;
  max-width: 400px;
}

.row {
  display: flex;
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }
}

.button {
  flex: 1;
  padding: 10px 10px;
}

.button_github {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 11px;
  padding-bottom: 11px;

  &:hover {
    background-color: $lavenderHover;
  }
}

.button_github_content {
  display: flex;
  align-items: center;
  fill: #ffffff;
}

.button_github_logo {
  height: 25px;
  width: auto;
  margin-right: 10px;
}

.button_github_text {
  line-height: 25px;
}

.alert_block {
  background-color: $darkGrey;
  padding: 16px;
  border-radius: 4px;
}

.alert_block_title {
  display: block;
  color: $darkSeafoamGreen;
  margin-bottom: 16px;
  font-weight: 700; 
}

.alert_block_message {
  color: $coolGrey;
  margin: 0;
}
