@import '../../css/_variables';

.pages_section {
  padding: 60px 0;
}

.container {
  padding: 0 15px;
}

.illustration_container {
  margin-bottom: 45px;
}

.illustration {
  display: block;
  max-width: 100%;
  margin: 0 auto; 
}

.feature {
  margin-bottom: 45px;
}

@media only screen and (min-width: 841px) {
  .container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    max-width: 1440px;
    margin: 0 auto;
  }

  .illustration_container {
    flex: 3;
    padding-right: 15px;
  }

  .illustration_container.reverse {
    order: 2;
    padding-right: 0;
    padding-left: 15px;
  }

  .block {
    flex: 2;
    padding-left: 15px;
    margin-right: 8.333333%;
  }

  .block.reverse {
    order: 1;
    padding-right: 15px;
    padding-left: 0;
    margin-right: 0;
    margin-left: 8.333333%;
  }
}