@import '../../css/_variables';

.container {
  position: relative;
}

.block {
  margin-bottom: 45px;
}

.illustration {
  display: block;
  width: 75%;
  margin: 0 auto;
}

.feature:last-child,
.feature > p:last-child {
  margin-bottom: 0;
}

@media only screen and (min-width: 841px) {
  .illustration_container {
    flex: 1;
    padding-left: 30px;
  }
  
  .illustration_container.reverse {
    order: 1;
    padding-left: 0;
    padding-right: 30px;
  }
  
  // .illustration_container .illustration {
  //   margin-left: 0;
  // }

  // .illustration_container.reverse .illustration {
  //   margin-left: auto;
  //   margin-right: 0;
  // }

  .illustration {
    width: 100%;
  }

  .block {
    flex: 1;
    padding-right: 30px;
    margin-bottom: 0;
  }

  .block.reverse {
    order: 2;
    padding-left: 30px;
    padding-right: 0;
  }
}

