@import '../../css/_variables';

.illustration_container {
  margin-bottom: 45px;
}

.illustration {
  display: block;
  width: 100%;
  margin: 0 auto;
  box-shadow: $ilustration-shadow;
}

.feature {
  margin-bottom: 45px;
}

.feature:last-child,
.feature > p:last-child {
  margin-bottom: 0;
}

@media only screen and (min-width: 841px) {
  .container {
    max-width: 1440px !important;
  }

  .illustration_container {
    flex: 3;
    padding-right: 30px;
    margin-bottom: 0;
  }

  .illustration_container.reverse {
    order: 2;
    padding-right: 0;
    padding-left: 30px;
  }

  .block {
    flex: 2;
    padding-left: 30px;
  }

  .block.reverse {
    order: 1;
    padding-right: 30px;
    padding-left: 0;
    margin-right: 0;
  }
}

@media only screen and (min-width: 1201px) {
  .block {
    margin-right: 8.333333%;
  }

  .block.reverse {
    margin-left: 8.333333%;
  }
}